[submodule "fid-pong-infrastructure"]
	path = fid-pong-infrastructure
	url = https://github.com/jphelton/fid-pong-infrastructure.git
	branch = .

[submodule "fid-pong-web-ui"]
	path = fid-pong-web-ui
	url = https://github.com/jphelton/fid-pong-web-ui.git
	branch = .

[submodule "fid-pong-web-app"]
	path = fid-pong-web-app
	url = https://github.com/jphelton/fid-pong-web-app.git
    branch = .
[submodule "fid-pong-db"]
	path = fid-pong-db
	url = https://github.com/jphelton/fid-pong-db.git
[submodule "fid-pong-parent"]
	path = fid-pong-parent
	url = https://github.com/jphelton/fid-pong-parent.git
	branch = master
