[submodule "fid-pong-infrastructure"]
	path = fid-pong-infrastructure
	url = https://github.com/jphelton/fid-pong-infrastructure.git
	branch = .

[submodule "fid-pong-web-ui"]
	path = fid-pong-web-ui
	url = https://github.com/jphelton/fid-pong-web-ui.git
	branch = .

[submodule "fid-pong-web-app"]
	path = fid-pong-web-app
	url = https://github.com/jphelton/fid-pong-web-app.git
    branch = .
